

body, html {
    margin: 0;
    padding: 0;
    font-family: Mina;
    background: #FCD7E9;
    color: #5A5A5A;
  }
  
  .main-title {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    color: white;
    font-size: 32px; 
    text-align: center;
    background: linear-gradient(135deg, #ff4081 20%, #f2d600 40%, #75c940 60%, #C740FF 80%);
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 92%; 

  }
  
  .main-title::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    transform: scaleX(1.5) translate(0, -60%);
    transform-origin: bottom center;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
  }
  
  .main-title:hover::before {
    transform: scaleX(1.5) translate(0, -70%);
  }
  
  .main-title span {
    position: relative;
    z-index: 2;
  }
  




  #sidebar {
    background-color: #EDE9E1;
    width: 250px; 
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  

  .sidebar-item {
    padding: 20px 30px; 
    color: #333;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .sidebar-item:hover {
    background-color: #f9f9f9;
  }
  

  .add-project-btn {
    display: block;
    width: 90%;
    margin: 10px auto; 
    padding: 10px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .add-project-btn:hover {
    background-color: #75c940;
  }
  

  #content {
    margin-left: 250px; 
    padding: 20px;
    background: #F3F3EF;
    min-height: 100vh;
  }
  

 
  

  .content-heading {
    font-size: 20px;
    margin-bottom: 15px;
    
  }
  

  .content-details {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  

  .content-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
 


  #add-task-btn {
    font-size: 16px;
    padding: 5px 10px;
    margin: 20px 0;
    background-color: #f2d600; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #add-task-btn:hover {
    background-color: #75c940;
  }
  

 


.popup {
    display: flex;
    flex-direction: column;
      justify-content: center;
    gap: 10px;
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    max-width: 800px; /* Maksimum genişlik sınırı */
    min-width: 450px; /* Minimum genişlik sınırı */
    height: auto; 
    max-height: 300px; /* Maksimum yükseklik sınırı */
    min-height: 100px; /* Minimum yükseklik sınırı */
  }
  

  #todo-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: flex-start; 
    align-items: stretch; 
  }

  .todo-item {
    background-color: #FAF3EB;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px; 
    border-radius: 4px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  

.todo-label {
  display: flex;
  align-items: center;
  gap: 10px; 
}


.todo-item.completed {
  text-decoration: line-through; 
  background-color: #f8f8f8;
  color: #b8b8b8; 
}


.delete-item-button {
  display: block;
  width: 10%;
  padding: 5px;
  background-color: #FF5451;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}



#project-form-container {
  display: flex; 
  flex-direction: column; /* Çocukları dikey olarak hizala */
  align-items: stretch; /* Tüm çocukları genişlet ve kenarlarına kadar doldur */
  gap: 10px; /* Elemanlar arasında boşluk */
  padding: 20px; /* İç boşluk */
  background-color: white; 
  border: 1px solid #ccc; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Gölge efekti */
  width: 400px; 
  max-width: 100%; /* Genişlik maksimum %100 (ekran dar ise) */
}

#project-title-input,
#project-description-input,
#project-due-date-input {
  width: 100%; /* Tam genişlik kullan */
  margin-bottom: 10px; /* Alt elemanlardan boşluk */
}

#project-description-input {
  height: 100px; 
}

#project-submit-button,
#project-close-button {
  padding: 10px 20px; 
  cursor: pointer; 
  border: 1px solid #ccc; /* Kenarlık */
  background-color: #f8f8f8; /* Arka plan rengi */
}

#project-close-button {
  background-color: #e8e8e8; /* Kapatma butonu için farklı arka plan rengi */
}

#project-submit-button:hover,
#project-close-button:hover {
  background-color: #d8d8d8; /* Üzerine gelince renk değişimi */
}


.project-item {
  background-color: #d8d8d8; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px; 
  border-radius: 4px; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 10px;
  background-color: rgba(255, 64, 129, 0.5); /* %50 saydamlık */
}

#project-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: flex-start; 
  align-items: stretch; 

}


.delete-project-button{
  display: block;
  width: 10%;
  padding: 5px;
  background-color: #FF5451;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.project-tag {
  display: inline-block;
  padding: 2px 8px;
  margin: 0 5px;
  background-color: #CCCCCC; 
  color: white;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.project-tag::before {
  content: '#';
}



.details-project-button{
  display: block;
  width: 10%;
  padding: 5px;
  background-color: #FAF3EB;
  color: darkgray;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
}


.todo-due-date, .project-due-date {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #7c0665; /* Açık renkli arka plan */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #ededed;
  margin-top: 5px;
}


.project-description{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #ffefd5; /* Açık renkli arka plan */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-name{
  font-size: 15px;
  font-weight: bold;
}

